body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color:rgb(27, 2, 32);
  color:white;
}
h1{
  font-size:50px;
}
h2{
  font-size:35px;
}
.orange-color{
  color: orange;
}
.flexible-container{
  display: flex;
  padding: 2%;
  margin-bottom: 150px;
}
.half-width{
  width:50%;
}
.half-width img{
  width: 100%;
}
.link-button{
  text-decoration: none;
  font-weight: 700;
  color:white;
  padding:10px 40px;
  border-radius: 5px;
  background-image: linear-gradient(orange, salmon);
}
/* .top-banner{
  background-image:url(images/top-banner.png);
  background-repeat:no-repeat;
} */
.dream-big{
  background-image:url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.dream-big img{
  width:90%;
}
.experience-area{
  background-image:url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position:left center;
}
.experience-item{
  box-shadow: 5px 8px 20px 14px #00000021;
  width:40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border:1px solid #242424;
}
#full-stack-developer{
  border-left: 7px solid salmon;
}
#baby-web-developer{
  border-left: 7px solid blue;
}
footer p{
  text-align: center;
}